# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# Node.js
node_modules/
build/
.env
.DS_Store

# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs/
pm-client-*.txt
